{% extends "layouts/full-page.html" %}
{% import 'macros/site.html' as s %}

{% set meta_title = '' %}
{% set meta_description = '' %}
{% set meta_keywords = '' %}
{% set meta_robots = 'noindex,nofollow' %}

{% set page_title = '' %}
{% set page_sub_title = '' %}
{% set quote = '' %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
        <h1 class="fw-bold">404</h1>
        <p class="text-muted">
            We are sorry, but the page you requested was not found.
        </p>
        <a class="btn btn-dark mt-4" href="{{ s.home_url() }}" role="button">Go back home</a>
    </div>
</div>

{% endblock %}