{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% extends "layouts/base.html" %}
{% set current_page = "change-password" %} 
{% set active_menu = "change-password" %} 
{% block js %} 
{{ f.module(['toggle']) }} 
<script src="{{ f.js('dashboard.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="px-4 mt-n5">
    <div class="bg-white shadow p-4 w-75">
    	<h3>Update New Password</h3>
    	<form action="/en/auth/login" method="post" autocomplete="off" class="mt-4">           
            <div class="mb-3 w-50">
                <label for="current-password" class="form-label text-muted">Current password</label>
                <input type="text" class="form-control rounded-0" id="current-password"  required="true">
            </div>
            <div class="mb-3 w-50">
                <label for="new-password" class="form-label text-muted">New password</label>
                <input type="text" class="form-control rounded-0" id="new-password"  required="true">
            </div>
           	<div class="mb-3 w-50">
                <label for="retype-new-password" class="form-label text-muted">Retype New password</label>
                <input type="text" class="form-control rounded-0" id="retype-new-password"  required="true">
            </div>
            <div class="d-flex justify-content-end">
            	<a class="btn btn-secondary" href="{{ s.home_url }}" role="button">Cancel</a>
                <button type="submit" class="btn btn-warning ms-2">Log in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}