{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% extends "layouts/base.html" %}
{% block js %} 
{{ f.module(['copy', 'toggle']) }} 
<script src="{{ f.js('profile.form.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid account-setting m-auto">
        <div class="mt-n8 px-3 position-absolute">
            <div class="h4">My Company Account</div>
            <div class="col-lg-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor, ante sit amet malesuada tempus, ante arcu pulvinar purus, vel auctor libero sapien at erat. Ut non eleifend ex.</div>
        </div>
        <form id="form-account-setting" method="post" name="account_setting" class="position-relative mt-n5 m-auto shadow" >
            <div class="mt-3">
                <div class="h3 p-3">Company Account Settings</div>
                {% include 'partials/_form-account-company-setting.html' %}
            </div>
            <div class="row mt-3 range-buttons py-5">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6 offset-lg-9">
                    <button class="btn btn-dark btn-cancel border-0 mb-2" type="button" >Cancel</button>
                    <button class="btn btn-primary btn-update-account border-0 mb-2" >Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}