{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% extends "layouts/base.html" %}
{% set current_page = "company-setting" %} 
{% set title = "My Company Account" %}
{% block js %} 
{{ f.module(['toggle']) }} 
<script src="{{ f.js('dashboard.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="px-4 mt-n5 mb-4">
    <div class="bg-white shadow p-3">
        <h5>Company Account Settings</h5>
        <div class="w-75 mt-5">
            <form id="form-company-setting" method="post" class="row g-4 mb-4" >
    
                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Company Logo <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <div class="image-upload">
                      <label for="file-input">
                        <img src="{{ f.img('main/company-logo.png') }}" width="176px" height="176px" alt="company-photo">
                      </label>
                      <input id="file-input" type="file" class="d-none" />
                    </div>
                    <button class="btn btn-primary mt-3">Remove Picture</button>
                </div>
 
                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Company Name <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="text" class="form-control rounded-0" placeholder="eg. Web Discovery Solutions Sdn. Bhd." required="true">
                </div>
    
                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Registration Code/SSM No. <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="text" class="form-control rounded-0" placeholder="0000000000-A" required>
                </div>
        
                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Company Size <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <div class="input-group mb-3">
                      <select class="form-select border text-muted">
                        <option selected>Select one..</option>
                        {% for i in range(1,5) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                      </select>
                      <p class="ms-2 w-50">Employees</p>
                    </div>
                </div>

                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Industry <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="text" class="form-control rounded-0" placeholder="Type your company industry" required>
                </div>

                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Company Website <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="text" class="form-control rounded-0" placeholder="www.company.com" required>
                </div>

                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Contact Number <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="text" class="form-control rounded-0" placeholder="Contact Number" required>
                </div>

                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Mobile Number <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <div class="input-group mb-3">
                      <select class="form-select border text-muted">
                        <option selected>MY+60</option>
                        <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                        <option data-countryCode="AD" value="376">Andorra (+376)</option>
                        <option data-countryCode="AO" value="244">Angola (+244)</option>
                        <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                        <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                        <option data-countryCode="AR" value="54">Argentina (+54)</option>
                        <option data-countryCode="AM" value="374">Armenia (+374)</option>
                        <option data-countryCode="AW" value="297">Aruba (+297)</option>
                        <option data-countryCode="AU" value="61">Australia (+61)</option>
                        <option data-countryCode="AT" value="43">Austria (+43)</option>
                        <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                        <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                        <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                      </select>
                      <input type="text" class="form-control rounded-0 w-50" placeholder="123456789">
                    </div>
                </div>

                <div class="col-lg-5">
                    <p class="float-end fs-5 me-3">Company Email <i class="bi bi-info-circle text-info fs-6 position-absolute ms-1"></i></p>
                </div>
                <div class="col-lg-7 ps-2">
                    <input type="email" class="form-control rounded-0" placeholder="email@example.com" required>
                </div>
                
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" href="{{s.home_url()}}" role="button">Cancel</a>
                    <button type="submit" class="btn btn-primary ms-2">Update</button> 
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}