{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% extends "layouts/base.html" %}

{% set newsletter_subscription = true %}

{% block js %} 
{{ f.module(['toggle']) }} 
<script src="{{ f.js('dashboard.min.js') }}"></script>
{% endblock %}
	
{% block content %}
<div class="p-3 mt-n5">
	<div class="row row-cols-2 row-cols-lg-4 g-3 px-2 mt-n5">
		<div class="col">
			<div class="widget bg-white p-3 shadow">
				<h6>Active Job Listing</h6>
				<h3>5</h3>
				<div class="d-flex">
					<p class="text-success mb-0"><i class="bi bi-arrow-up"></i> 3.48% </p>
					<p class="text-muted ms-2 mb-0">Since last month</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="widget bg-white p-3 shadow">
				<h6>Total Applicants</h6>
				<h3>33</h3>
				<div class="d-flex">
					<p class="text-success mb-0"><i class="bi bi-arrow-up"></i> 3.48% </p>
					<p class="text-muted ms-2 mb-0">Since last month</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="widget bg-white p-3 shadow">
				<h6>Total Job Views</h6>
				<h3>100,834</h3>
				<div class="d-flex">
					<p class="text-success mb-0"><i class="bi bi-arrow-up"></i> 3.48% </p>
					<p class="text-muted ms-2 mb-0">Since last month</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="widget bg-white p-3 shadow">
				<h6>Coin Balance</h6>
				<div class="d-flex justify-content-between">
					<h3>35</h3>
					<button class="btn btn-primary py-1 d-none d-lg-block mb-1"><i class="bi bi-plus"></i> Top-up </button>
				</div>
				<div class="d-flex">
					<p class="text-success mb-0"><i class="bi bi-arrow-up"></i> 3.48% </p>
					<p class="text-muted ms-2 mb-0">Since last month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3 px-2">
		<div class="col-lg-8">
			<img class="img-fluid" src="{{f.mainImg('agency.png')}}">
		</div>
		<div class="col-lg-4">
			<div class="bg-white p-3 shadow h-100">
				<h6>Quick Links</h6>
				<a href="#">
					<h4 class="d-flex justify-content-between mt-4">Post a Job 
						<i class="bi bi-arrow-right"></i>
					</h4>
				</a>
				<a href="#">
					<h4 class="d-flex justify-content-between">View My Job Listings
						<i class="bi bi-arrow-right"></i>
					</h4>
				</a>
				<a href="#">
					<h4 class="d-flex justify-content-between">Quick Link 3
						<i class="bi bi-arrow-right"></i>
					</h4>
				</a>
				<a href="#">
					<h4 class="d-flex justify-content-between">Quick Link 4 
						<i class="bi bi-arrow-right"></i>
					</h4>
				</a>
				<a href="#">
					<h4 class="d-flex justify-content-between">Quick Link 5
						<i class="bi bi-arrow-right"></i>
					</h4>
				</a>
		
			</div>
		</div>
	</div>
	<div class="row mt-4 table-wrapper">
		<div class="bg-white shadow">
			<div class="d-flex justify-content-between mt-3 px-2">
				<h5>My Job Performance</h5>
				<a href="">Show all <i class="bi bi-chevron-right"></i></a>
			</div>
		{% include 'partials/_job_performance_table.html' %}
		</div>
	</div>
	<div class="row mt-4 px-2">
		<div class="col-lg-6">
			<div class="bg-white p-3 shadow my-account-detail-container">
				<h5>My Account Details</h5>
				<div class="d-flex justify-content-between mt-4">
					<p class="fs-6">Company Display Name:</p>
					<p>PETRONAS</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Company Registered Name:</p>
					<p>Petroliam Nasional Berhad</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Login E-mail:</p>
					<p>email@gmail.com</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Website:</p>
					<a href="www.petronas.com">www.petronas.com</a>
				</div>
				<div class="d-flex justify-content-between">
					<p>Company Industry:</p>
					<p>Oil and Gas</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Number of Employees:</p>
					<p>47,669</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Company Type:</p>
					<p>Multinational Company</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}