{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% import 'macros/user.html' as u %}
{% extends "layouts/full-page.html" %}

{% block js %}{% endblock %}

{% set meta_title = '' %}
{% set meta_description = '' %}
{% set meta_keywords = '' %}
{% set meta_robots = 'noindex,nofollow' %}

{% set page_title = 'Log in with Job Majestic' %}
{% set page_sub_title = '' %}
{% set quote = 'Last updated on 23th Apr 2021' %}
{% block content %}

        <div class="position-absolute top-50 start-50 translate-middle bg-white shadow p-4 w-auto">
            <h3>Lost your password? Don't worry.</h3>
            <p class="text-muted mt-3">Enter the email you used to register with us.</p>
            <form action="/en/auth/recovery-password" class="mt-5" method="post" autocomplete="off">       
                <label for="email" class="form-label text-muted">Email</label>
                <div class="d-flex justify-content-between">   
                    <input type="email" class="form-control rounded-0" id="email" aria-describedby="emailHelp" placeholder="email@example.com" maxlength="50" autocomplete="email" autofocus="" required="true">
                    <div class="w-75 bd-highlight">
                    <button type="submit" class="btn btn-warning float-end">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}