{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% import 'macros/user.html' as u %}
{% extends "layouts/full-page.html" %}

{% block js %}{% endblock %}

{% set meta_title = '' %}
{% set meta_description = '' %}
{% set meta_keywords = '' %}
{% set meta_robots = 'noindex,nofollow' %}

{% set page_title = 'Log in with Job Majestic' %}
{% set page_sub_title = '' %}
{% set quote = 'Last updated on 23th Apr 2021' %}

{% block content %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-lg-4 mx-auto shadow bg-white p-4">
            <a href="{{ s.home_url() }}" class="d-flex justify-content-center">
               <img src="{{ f.img('logo/boss_majestic_fullpage.png') }}" height="35px" width="185px" class="mt-3" alt="main-logo">
            </a>
            <p class="text-center mt-3">Register as employer</p>
            <form action="/en/auth/sign-up" method="post" autocomplete="off"> 
                <div class="mb-3">
                    <label for="company-name" class="form-label text-muted">Company Name</label>
                    <input type="text" class="form-control rounded-0" id="company-name" placeholder="Yourcompany Sdn. Bhd." maxlength="50" autocomplete="email" autofocus="" required="true">
                </div>          
                <div class="mb-3">
                    <label for="email" class="form-label text-muted">Email</label>
                    <input type="email" class="form-control rounded-0" id="email" aria-describedby="emailHelp" placeholder="email@example.com" maxlength="50" autocomplete="email" autofocus="" required="true">
                </div>
                <div class="mb-3">
                    <label for="new-password" class="form-label text-muted">Password</label>
                    <div class="input-group">
                        <input type="password" id="new-password"
                            class="form-control custom-form-control new-password rounded-0" maxlength="20"
                            required="" name="password">
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkTermCondition">
                        <label class="form-check-label ms-1" for="checkTermCondition">I accept the Terms and Conditions.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkRepresent">
                        <label class="form-check-label ms-1" for="checkRepresent">I represent company to own this account.</label>
                    </div>
                   <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkEmailAplly">
                        <label class="form-check-label ms-1" for="checkEmailAplly">Email me when there is candidate apply my jobs.</label>
                    </div>
                </div>
                <div class="d-flex flex-column mt-5 mb-4 px-3">
                    <button type="submit" class="btn btn-primary">Sign Up As An Employer</button>
                    <p class="text-muted small align-self-center mt-3">Already have an account?</p>
                    <a class="btn btn-secondary" href="{{ u.login_url() }}" role="button">Login Now</a>
                             
                </div>
            </form>
       </div>
    </div>
</div>

{% endblock %}