<ul class="nav nav-tabs border-top bg-white shadow" id="applicantTab" role="tablist">
  <li class="nav-item border-0" role="presentation">
    <button class="nav-link active" id="new-applicants-tab" data-bs-toggle="tab" data-bs-target="#newApllicants" type="button" role="tab" aria-controls="new-applicant" aria-selected="true">New Applicants</button>
  </li>
  <li class="nav-item border-0" role="presentation">
    <button class="nav-link" id="shortlisted-tab" data-bs-toggle="tab" data-bs-target="#shortlisted" type="button" role="tab" aria-controls="shortlisted" aria-selected="false">Shortlisted</button>
  </li>
  <li class="nav-item border-0" role="presentation">
    <button class="nav-link" id="kiv-tab" data-bs-toggle="tab" data-bs-target="#kiv" type="button" role="tab" aria-controls="kiv" aria-selected="false">KIV</button>
  </li>
  <li class="nav-item border-0" role="presentation">
    <button class="nav-link" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected" type="button" role="tab" aria-controls="rejected" aria-selected="false">Rejected</button>
  </li>
</ul>