{% import 'macros/site.html' as s %}
{% import 'macros/path.html' as f %}
<ul class="nav nav-tabs text-nowrap" id="companyTab">
  <li class="nav-item">
    <a  class="nav-link {{ f.if(active_menu == 'overview',' active') }}" href="{{ s.overview_url() }}" aria-current="page">Overviews</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link {{ f.if(active_menu == 'gallery',' active') }}" href="{{ s.gallery_url() }}">Gallery</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link {{ f.if(active_menu == 'my-jobs',' active') }}" href="{{ s.my_jobs_url() }}">My Jobs</a>
  </li>
</ul>