{% import 'macros/path.html' as f %}
<div class="bg-white p-4 shadow mt-4 d-none d-lg-block">
	<div class="d-flex justify-content-between">
		<h4>Ratings & Reviews</h4>
		<a href="#" class="blue-text small mt-1">See All Reviews</a>
	</div>
	<div class="d-flex justify-content-center company-rating-container mt-3">
      	<h1>5.0</h1>
		<span class="ms-2 float-start">
			<p class="mb-0 text-muted">Average Rating</p>
			{% for i in range(1,6) %}
				<img class="img-fluid" height="20px" src="{{f.companies_overview_img('star.png')}}">
			{% endfor%}
		</span>
	</div>
	{% for i in range(1,3) %}
	<hr>
	<div class="d-flex justify-content-between mt-3 py-0">
		<h6 >Review Title</h6>
		<p class="text-black-50 small">12 Aug 2017</p>
	</div>
	<div class="d-flex justify-content-between">
		<span>
		{% for i in range(1,6) %}
			<img class="img-fluid" height="20px" src="{{f.companies_overview_img('star.png')}}">
		{% endfor%}
		</span>
		<p>Username</p>
	</div>
	
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium ante ante, at accumsan ipsum euismod vitae. Cras sollicitudin fermentum tellus, id pharetra elit ultrices eu. Cras non hendrerit risus. Sed<span class="collapse" id="viewdetails{{i}}"> nec commodo massa. Duis mauris ante, pulvinar id hendrerit a, sodales vel nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Proin tincidunt venenatis ipsum, ut posuere sapien mattis sed. Duis laoreet egest arcu eget convallis. </span> <a data-bs-toggle="collapse" href="#viewdetails{{i}}" class="text-info">Show More...</a>
  	{% endfor %}
</div>