{% import 'macros/path.html' as f %}
<div class="modal fade" id="delete-job" tabindex="-1" aria-labelledby="deleteJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
            <div class="d-flex align-items-center">
              <i class="bi bi-exclamation-triangle text-warning fs-1"></i>
              <p class="ms-2 mt-2">Are you sure you want to delete {{  job.id ~'-'~job.title }}?</p>
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>