{% import 'macros/path.html' as f %}
<div class="modal fade" id="delete-job" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-delete-job">
      <div class="modal-body">
          <div class="row">
            <div class="title"><i class="bi bi-exclamation-triangle"></i><span>Are you sure you want to delete "3 - Test Job"?</span></div>
          </div>
      </div>
        <div class="row mt-4 px-3">
        <div class="col-lg-6">
        </div>
        <div class="col-12 col-lg-6">
            <button type="button" class="btn-secondary btn-delete border-0" data-bs-dismiss="modal">Yes</button>
            <button type="button" class="btn-secondary btn-cancel border-0" data-bs-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
  </div>
</div>