{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% import 'macros/form.html' as form %}
{% import 'macros/path.html' as f %}
{% set categories = ['Category 1', 'Category 2', 'Category 3', 'Category 4', 'Category 5'] %}
{% set education_levels = ['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5'] %}
{% set locations = ['Location 1', 'Location 2', 'Location 3', 'Location 4', 'Location 5'] %}
    <div class="d-flex flex-row align-items-center alert-note d-none">
        <div class="d-flex justify-content-center col-lg-5 offset-lg-5 err-box p-2">
            <i class="bi bi-exclamation-circle mt-n1 ms-1"></i>Please fill up the details correctly.
        </div>
    </div>
    <div class="row job-title mt-5">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Title<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 px-3">
            <input type="text" name="job_title" class="form-control rounded-0" placeholder="eg. Senior Marketing Communications Executive" value="{% if job.title %}{{ job.title }}{% endif  %}" required >
            <div id="error-title" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
    <div class="row mt-5 job-type">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Job Type<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="job_type" value="Part-time" class="d-none" {% if job.type == "Part-time" %} checked {% endif %} />
                <div class="square-radio job-type-select text-center d-inline-block p-2 m-1">
                    <span>Part-time</span>
                </div>
            </label>
        </div>
         <div class="col-12 col-lg-2">
             <label>
                <input type="radio" name="job_type" value="Full-time" class="d-none" {% if job.type == "Full-time" %} checked {% endif %} />
                <div class="square-radio job-type-select text-center d-inline-block p-2 m-1">
                    <span>Full-time</span>
                </div>
            </label>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="job_type" value="Freelance" class="d-none" {% if job.type == "Freelance" %} checked {% endif %} />
                <div class="square-radio job-type-select text-center d-inline-block p-2 m-1">
                    <span>Freelance</span>
                </div>
            </label>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="job_type" value="Contract" class="d-none" {% if job.type == "Contract" %} checked {% endif %} />
                <div class="square-radio job-type-select text-center d-inline-block p-2 m-1">
                    <span>Contract</span>
                </div>
            </label>
        </div>
    </div>
    <div class="row mt-5 job-category">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Category<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 form-group">
            <select id="job-category" name="job_category" class="form-select border text-muted job-category" required>
                <option value="">select one...</option>
                {% for category in categories %}
                <option value="{{ category }}" {% if job.category == category %} selected {% endif %}>{{ category  }}</option>
                {% endfor %}
            </select>
            <div id="error-category" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
    <div class="row mt-5 education">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Education Level<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 form-group">
            <select id="education-level" name="education_level" class="form-select border text-muted education-level" required>
                <option value="">select one...</option>
                {% for level in education_levels %}
                <option value="{{ level }}" {% if job.education == level %}selected{% endif %}>{{  level }}</option>
                {% endfor %}
            </select>
            <div id="error-level" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
    <div class="row mt-5 working-experience">
         <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Working Experience (Min. Years)<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-4">
            <input type="text" name="working_experience" class="form-control rounded-0" placeholder="eg. 5 years" value ="{% if job.working_experience %}{{ job.working_experience }} {% endif %}" required>
            <div id="error-experience" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
     <div class="row mt-5 week-frequency">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Work Week<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="work_week" value="5 days per week" class="d-none"  {% if job.work_week == "5 days per week" %} checked {% endif %}/>
                <div class="square-radio  work-week-select text-center d-inline-block p-2 m-1">
                    <span>5 days per week</span>
                </div>
            </label>
        </div>
         <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="work_week" value="6 days per week" class="d-none" {% if job.work_week == "6 days per week" %} checked {% endif %} />
                <div class="square-radio work-week-select text-center d-inline-block p-2 m-1">
                    <span>6 days per week</span>
                </div>
            </label>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="work_week" value="Shift" class="d-none" {% if job.work_week == "Shift" %} checked {% endif %}/>
                <div class="square-radio work-week-select text-center d-inline-block p-2 m-1">
                    <span>Shift</span>
                </div>
            </label>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="radio" name="work_week" value="Indefinite" class="d-none" {% if job.work_week == "Indefinite" %} checked {% endif %}/>
                <div class="square-radio work-week-select text-center d-inline-block p-2 m-1">
                    <span>Indefinite</span>
                </div>
            </label>
        </div>
    </div>
    <div class="row mt-5 working-hours">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Working Hours<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-3">
            <input type="text" id="work_from" class="form-control d-inline rounded-0" name="work_from" value="{% if job.work_from %}{{ job.work_from }}{% endif %}">
            to
            <input type="text" id="work_to" class="form-control d-inline rounded-0" name="work_to" value="{% if job.work_to %}{{ job.work_to }}{% endif %}">
            <div id="error-work-hour" class="error d-none">Error lorem ipsum</div>
        </div>
        <div class="col-12 col-lg-2">
            <label>
                <input type="checkbox" name="work_indefinite" value="" class="d-none" {% if job.work_indefinite %} checked {% endif %} />
                <div class="square-radio work-indefinite text-center d-inline-block p-2 mb-2">
                    <span>Indefinite</span>
                </div>
            </label>
        </div>
    </div>
    <div class="row mt-5 salary">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Salary<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-5">
            <input type="text" name="min_salary" class="form-control d-inline rounded-0" placeholder="Min..." value="{% if job.min_salary %}{{ job.min_salary }}{% endif %}" required> to <input type="text" class="rounded-0 form-control d-inline" name="max_salary" placeholder="Max..." value="{% if job.max_salary %}{{ job.max_salary }}{% endif %}" required>
            <div id="error-salary" class="error d-none">Error lorem ipsum</div>
        </div>       
    </div>
    <div class="row mt-5 benefits">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Benefits<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        {% if job.benefits %}
            {% for benefit in job.benefits %}
            <div class="col-12 col-lg-9 offset-lg-3 mb-2 copy-benefit-row">
                <input type="text" name="job_benefit[]" class="rounded-0 form-control d-inline" placeholder="eg. 14 days of annual leave" value="{{ benefit }}" >
                <a class="btn btn-sm mb-3 remove-benefit"><i class="bi bi-trash"></i></a>
            </div>
            {% endfor %}
        {% endif %}
        {% for i in range(0,1) %}
        <div class="col-12 col-lg-9 offset-lg-3 mb-2 copy-benefit-row">
            <input type="text" class="form-control d-inline" name="job_benefit[]" placeholder="eg. 14 days of annual leave" >
            <a class="btn btn-sm mb-3 remove-benefit"><i class="bi bi-trash"></i></a>
        </div>
        {% endfor %}
        <div class="col-12 col-lg-9 offset-lg-3">
            <a class="btn btn-sm" id="addBenefit"><i class="bi bi-plus"></i> Add Benefits</a>
        </div>
    </div>    
    <div class="row mt-5">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Location/Branch<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 form-group">
            <select id="location" name="location" class="form-select border text-muted location" required>
                <option value="">select one...</option>
                {% for location in locations %}
                <option value="{{ location }}" {% if job.location == location %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
            </select>
            <div id="error-location" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
    <div class="row mt-5 job-scope">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Job Scope / Responsibilities<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 px-3">
            <textarea name="job_scope" class="form-control rounded-0" required>{% if job.scope %}{{ job.scope }}{% endif %}</textarea>
            <div id="error-scope" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>
    <div class="row mt-5 requirements">
        <div class="col-12 col-lg-3 d-lg-flex justify-content-end">
            Requirements<i class="bi bi-info-circle mt-n1 ms-1"></i>
        </div>
        <div class="col-12 col-lg-9 px-3">
            <textarea name="requirements" class="form-control rounded-0" required>{% if job.requirement %}{{ job.requirement }}{% endif %}</textarea>
            <div id="error-requirements" class="error d-none">Error lorem ipsum</div>
        </div>
    </div>