{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}

<div class="row px-3 mt-1">
	<div class="col-lg-4 ps-lg-0">
	  <div class="nav flex-column nav-pills" id="v-pills-kiv-tab" role="tablist" aria-orientation="vertical">
	  	{% for i in range(1,5) %}
	    <div class="nav-link p-3 bg-white shadow mb-3 {% if i == 1 %} active {% endif %}" data-bs-toggle="pill" data-bs-target="#v-pills-kiv-{{i}}" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
	    	<div class="d-flex">
			  <div class="flex-shrink-0 align-self-center">
			    <img src="{{f.mainImg('candidate_photo.png')}}" height="110px">
			  </div>
			  <div class="flex-grow-1 ms-3">
			  	<p class="fs-5 mb-1">Leah Chen</p>
			    <p class="mb-0 small">Industry/Category</p>
			    <p class="mb-0 small">Previous Employment/Company</p>
			    <p class="mb-0 small">5 Years Experience</p>
			    <p class="mb-0 small">Pasir Gudang, Johor</p>
			  </div>
			  <div class="flex-grow-2">
			  	<i class="bi bi-heart"></i>
			  </div>
			</div>
			<div class="d-flex justify-content-between g-1 mt-3">
			  	<button type="button" class="btn btn-outline-warning flex-fill me-1">Shortlist</button>
			  	<button type="button" class="btn btn-warning flex-fill me-1">Remove from KIV</button>
			  	<button type="button" class="btn btn-outline-dark flex-fill">Reject</button>
			</div>
	    </div>
	  	{% endfor %}
	  </div>
	</div>
	<div class="col-lg-8 shadow bg-white p-3">
	  <div class="tab-content" id="v-pills-kiv-tabContent">
	  	{% for i in range(1,5) %}
	    <div class="tab-pane fade {% if i == 1 %} active show {% endif %}" id="v-pills-kiv-{{i}}" role="tabpanel" aria-labelledby="v-pills-kiv-{{i}}-tab">
	    	<div class="d-flex">
			  <div class="flex-shrink-0 align-self-center">
			    <img src="{{f.mainImg('candidate_photo.png')}}" class="img-fluid" height="150px">
			  </div>
			  <div class="flex-grow-1 w-50 ms-4">
			  	<p class="fs-3 mb-1">Leah Chen {{i}}</p>
			    <p class="mb-0"><i class="bi bi-building text-warning me-3"></i>Working Field</p>
			    <p class="mb-0"><i class="bi bi-calendar text-warning me-3"></i>24/3/1993</p>
			    <p class="mb-0"><i class="bi bi-telephone-fill text-warning me-3"></i>+6027361733</p>
			    <p class="mb-0"><i class="bi bi-envelope-fill text-warning me-3"></i>e**********s@gmail.com</p>
			    <p class="mb-0"><i class="bi bi-geo-alt-fill text-warning me-3"></i>Location, Malaysia</p>
			    <p class="mb-0"><i class="bi bi-globe text-warning me-3"></i>Malaysian</p>
			  </div>
			  <div class="flex-grow-2 align-self-center">
			  	<div class="row row-cols-lg-2 g-3">
					<div class="col">
						<div class="border text-center p-1">
							<p class="card-text text-muted mb-0 small">Experience</p>
							<h6 class="card-text">5 years</h6>
						</div>
					</div>
					<div class="col">
						<div class="border text-center p-1">
							<p class="card-text text-muted mb-0 small">Current Job Title</p>
							<h6 class="card-text">Content Manager</h6>
						</div>
					</div>
					<div class="col">
						<div class="border text-center p-1">
							<p class="card-text text-muted mb-0 small">Notice Period</p>
							<h6 class="card-text">1 Month</h6>
						</div>
					</div>
					<div class="col">
						<div class="border text-center p-1">
							<p class="card-text text-muted mb-0 small">Expected Salary</p>
							<h6 class="card-text">*****</h6>
						</div>
					</div>
				</div>
			  </div>
			</div>
			<hr>
			<div class="d-flex justify-content-between">
				<h4 class="d-flex align-self-center">Experience</h4>
				<div class="d-flex align-items-stretch">
					<button type="button" class="btn"><i class="bi bi-download"></i></button>
					<button type="button" class="btn"><i class="bi bi-printer"></i></button>
				</div>
			</div>
			<div class="row">
	            <div class="col-lg-4">
	                <p class="fs-5 mb-0">MM/YY - MM/YY</h4>
	                <p class="text-muted">Duration</p>
	            </div>
	            <div class="col-lg-8">
	                <p class="fs-5 mb-0">Job Title</p>
	                <p class="fs-5">Company Name | Location</p>
	                <div class="row">
	                    <div class="col-lg-3 col-4">
	                        <p class="text-muted">Industry</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Advertising / Marketing / Promotion /PR</p>
	                    </div>
	                </div>
	                <div class="row">
	                	<div class="col-lg-3 col-4">
	                        <p class="text-muted">Specialization</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>dvertising / Media Planning</p>
	                    </div>
	                </div>
	                <div class="row">
	                	<div class="col-lg-3 col-4">
	                        <p class="text-muted">Role</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Creative</p>
	                    </div>
	                </div>
	                <div class="row">
	                	<div class="col-lg-3 col-4">
	                        <p class="text-muted">Position Level</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Manager</p>
	                    </div>
	                </div>
	                <div class="row">
	                	<div class="col-lg-3 col-4">
	                        <p class="text-muted">Monthly Salary</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>MYR 1,000</p>
	                    </div>
	                </div>
	                <p>Job Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur urna viverra odio viverra ultrices. Aenean eu eros sollicitudin, tristique tortor vel, ultricies augue. Nunc pharetra ullamcorper tristique. Morbi id tempor orci. In suscipit purus ac velit eleifend consectetur. Proin quam odio, volutpat non dolor ac, sagittis mattis nunc. In hac habitasse platea dictumst. Aliquam erat volutpat. Nam tempus lectus sit amet turpis lobortis semper. Vestibulum a dolor mi. Nam vel placerat nisl.</p>
	            </div>
        	</div>

	        <div class="row mb-2 mt-4">
	            <h4 class="d-flex align-self-center">Education</h4>
	        </div>
        	<div class="row">
            	<div class="col-lg-4">
	                <p class="fs-5 mb-0">MM/YY - MM/YY</h4>
	                <p class="text-muted">Duration</p>
	            </div>
	            <div class="col-lg-8">
	            	<p class="fs-5 mb-0">Education Course Name</p>
	                <p class="fs-5">University/College/School | Location</p>
	                <div class="row">
	                    <div class="col-lg-3 col-4">
	                        <p class="text-muted">Item 1</p>

	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Information</p>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-lg-3 col-4">
	                        <p class="text-muted">Item 2</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Information</p>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-lg-3 col-4">
	                        <p class="text-muted">Item 3</p>
	                    </div>
	                    <div class="col-lg-9 col-8">
	                        <p>Information</p>
	                    </div>
	                </div>
	                <p>Description lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam, tortor pharetra cursus efficitur, leo ex egestas dui, id mattis magna dolor porttitor eros. In a facilisis ante.</p>
	            </div>
	        </div>

        	<div class="row mb-2 mt-4">
	            <h4>Skills</h4>
	        </div>
	        <div class="row">
	            <div class="col-lg-4">
	                <p>Advanced</p>
	            </div>
	            <div class="col-lg-8">
	                <p>Skill 1, Skill 2, Skill 3</p>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4">
	                <p>Intermediate</p>
	            </div>
	            <div class="col-lg-8">
	                <p>Skill 1, Skill 2, Skill 3</p>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4">
	                <p>Basic</p>
	            </div>
	            <div class="col-lg-8">
	                <p>Skill 1, Skill 2, Skill 3</p>
	            </div>
	        </div>

        	<div class="row mb-2 mt-4">
	            <h4>Languages</h4>
	        </div>
        <div class="row">
            <div class="col-lg-4">
                
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <p>Spoken</p>
                    </div>
                    <div class="col-3 col-lg-2">
                        <p>Written</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Bahasa Malaysia (Primary)</p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>English</p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Chinese</p>
            </div>
             <div class="col-lg-8">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                    <div class="col-3 col-lg-2">
                        <p>10</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mt-4">
             <h4>Additional Info</h4>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Item 1</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Item 2</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Item 3</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>

        <div class="row mb-2 mt-4">
            <h4>About Me</h4>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Address</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Nationality</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Item 3</p>
            </div>
            <div class="col-lg-8">
                <p>Information</p>
            </div>
        </div>
		</div>
		{% endfor %}
	  </div>
	</div>
</div>