<div class="modal fade" id="post-job-success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-post-job rounded-0">
      <div class="modal-body">
        <div class="d-flex justify-content-center"><i class="bi bi-check-circle-fill"></i></div>
        <div class="h4 d-flex justify-content-center mt-2">Job Successfully Posted!</div>
        <div class="whatnext d-flex justify-content-center mt-2">What do you want to do next?</div>
        <div class="row row-cols-2 g-2 mt-1 d-flex justify-content-center">
            <div class="card rounded-0">
                <div class="card-body">
                    <i class="bi bi-pencil-fill px-1"></i>Edit Job
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-body">
                    Preview Job<i class="bi bi-box-arrow-up-right px-1"></i>
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-body">
                    Home
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-body">
                    Create another Job
                </div>
            </div>
        </div>
      </div>
        <div class="row mt-4 px-3">
        <div class="col-lg-6">
        </div>
        <div class="col-12 offset-lg-8 mb-2">
            <button type="button" class="btn-secondary btn-dismiss border-0" data-bs-dismiss="modal">Dismiss</button>
        </div>
        </div>
    </div>
  </div>
</div>