{% import 'macros/site.html' as s %}
<div class="modal fade" id="post-job-success" tabindex="-1" aria-labelledby="postJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <div class="modal-body">
        <div class="text-center"><i class="bi bi-check-circle-fill fs-1 text-success"></i></div>
        <h4  class="text-center mt-2">Job Successfully Posted!</h4 >
        <p class="text-center mt-3">What do you want to do next?</p>
        <div class="row row-cols-2 g-2">
            <div class="col">
                <div class="border px-3 py-5 text-center">
                    <a href='{{ s.edit_job_url() }}'><i class="bi bi-pencil-fill me-1"></i>Edit Job</a>
                </div>
            </div>
            <div class="col">
                <div class="border px-3 py-5 text-center">
                    <a href='{{ s.edit_job_url() }}'>Preview Job<i class="bi bi-box-arrow-up-right ms-1"></i></i></a>
                </div>
            </div>
            <div class="col">
                <div class="border px-3 py-5 text-center">
                    <a href='{{ s.home_url() }}'>Homes</a>
                </div>
            </div>
            <div class="col">
                <div class="border px-3 py-5 text-center">
                    <a href='{{ s.post_job_url() }}'>Create another Job</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-dismiss" data-bs-dismiss="modal">Dismiss</button>
        </div>
        </div>
    </div>
  </div>
</div>