
.nav-tabs{
	.nav-item{
		.active{
			border-color: $whiteColor;
			border-bottom: 3px solid $yellow;
		}
	}
	
}
.ad-banner{
	padding: 150px 0px;
}
.add-image-container{
	border: dashed 2px $blueColor;
	color: $blueColor;
}
