// COMMON
$fontSize14: 14px;
$fontSize12: 12px;

$yellowColor: #ffcc33;
$textGrayColor: #7f7f7f;
$lightGray: #0000004f;
$whiteColor: #ffffff;

$redButton: #F8483B;
$fullPageBgColor: #F4F4F6;
$backgroundColor: #F2F8F8;
$fontColor: #222E3C;
$greenColor: #5CA496;


