// COMMON
$fontSize14: 14px;
$fontSize12: 12px;

$yellowColor: #ffcc33;
$textGrayColor: #7f7f7f;
$lightGray: #dfdfdf;
$whiteColor: #ffffff;
$redButton: #f8483b;
$fullPageBgColor: #f4f4f6;
$backgroundColor: #f2f8f8;
$fontColor: #222e3c;