
@import "bootstrap";
@import "var";
@import "auth/login";
@import "auth/signup";
@import "dashboard";

body {
    background-color: $backgroundColor;
    color: $fontColor;
    overflow-x: hidden;

    .page {
        background-color: $fullPageBgColor;
    }
    .yellow-button{
        border-radius: 0px;
        border: none;
        background-color: $yellow;
        height: 255px;
    }
    .border-radius-none{
        border-radius: 0px;
        border: none;
    }
    .grey-text{
        color: $textGrayColor;
    }
    .green-text{
        color: $greenColor;
    }
    .red{
        color: #D5365B;
    }
    .white-box{
        background-color: $whiteColor;
    }

    a,
    a:hover {
        color: $fontColor;
        text-decoration: none;
    }

    .side-navbar {
      width: 300px;
      position: fixed;
      margin-left: -300px;
      background-color: $whiteColor;
      transition: 0.5s;
        button:hover,button:focus {
            color: rgba(0,0,0,0.85);
            background-color: rgba(121,82,179,0.1);
        }
        button::after {
            padding-top: 4px;
            width: 1.25em;
            line-height: 0;
            content: url("../img/main/chevron-right.svg");
            transition: transform 0.35s ease;
            transform-origin: .5em 50%;
            float: right;
        }
        button[aria-expanded="true"]::after {
            transform: rotate(90deg);
        }
        .menu-list{
            a {
                padding: .1875rem .5rem;
                margin-top: .125rem;
                margin-left: 1.5rem;
                color: rgba(0,0,0,0.65);
            } 
        }
         
         
    }

    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
      background-color: #ffffff26;
    }

    .my-container {
      transition: 0.4s;
    }
    .topbar{
        height: 255px;
        background-color: $yellow;
    }

    .active-nav {
      margin-left: 0;
    }

    /* for main section */
    .active-cont {
        margin-left: 300px;
        overflow: hidden;
        position: relative;
        @include media-breakpoint-down(md) {
            min-width: 320px;
        }
    }
    #menu-btn {
      font-size: 30px;
      &.btn-sidebar-off{
        position: fixed;
      }
    }
    .shadow{
        box-shadow: 0px 0px 12px #00000029;
    }

    

    // CUSTOM FORM CONTROL
    label {
        margin-bottom: 0.5rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }


}
