{% macro company_name() %}{{ 'Job Majestic Sdn. Bhd.' }}{% endmacro %}

{% macro home_url() %}{{ 'index.html' }}{% endmacro %}

{% macro overview_url() %}{{ 'company-overview.html' }}{% endmacro %}

{% macro gallery_url() %}{{ 'company-gallery.html' }}{% endmacro %}

{% macro my_jobs_url() %}{{ 'company-my-jobs.html' }}{% endmacro %}

{% macro applicants_url() %}{{ 'applicants.html' }}{% endmacro %}

{% macro applicants_shortlisted_url() %}{{ 'applicants_shortlisted.html' }}{% endmacro %}

{% macro applicants_kiv_url() %}{{ 'applicants_kiv.html' }}{% endmacro %}

{% macro applicants_rejected_url() %}{{ 'applicants_rejected.html' }}{% endmacro %}

{% macro job_performance_url() %}{{ 'job-performance.html' }}{% endmacro %}

{% macro search_candidate_home_url() %}{{ 'search-candidate-home.html' }}{% endmacro %}

{% macro post_job_url() %}{{ 'post-job.html' }}{% endmacro %}

{% macro edit_job_url() %}{{ 'edit-job.html' }}{% endmacro %}