<div class="container-fluid topbar">
    <a class="btn border-0 toggle-off btn-sidebar-off d-none" id="menu-btn"><i class="bi bi-list"></i></a>

    <!-- <nav id="main" class="navbar navbar-expand-lg navbar-light px-md-5 {{extra_class}}">
      <div class="wrapper-content">
          <a class="navbar-brand main-logo" href="#">
              <img src="assets/img/logo/boss_majestic.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <span class="ml-md-auto"></span>
              <div class="language-navbar">
                  <div class="navbar-info">
                      <div class="btn-group my-2">
                          <div class="dropdown language-picker me-4">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                              </button>
                              <ul class="dropdown-menu {% if is_guest %}language-not-login{% endif %}"
                                  aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item dropdown-item-checked" href="#">English</a></li>
                                  <li><a class="dropdown-item" href="#">Chinese</a></li>
                              </ul>
                          </div>
                          {% if is_guest %}
  
                          <span class="navbar-text">
                              <a href="#" class="btn btn-post-job mr-3 px-5">Post a job</a>
                              <a href="#" rel="nofollow" data-bs-toggle="modal" data-bs-target="#loginModalForm">Login</a>
                              <a href="#" rel="nofollow" data-bs-toggle="modal" data-bs-target="#signupModalForm">Sign
                                  Up</a>
                          </span>
                          {% else %}
  
  
                          <div class="dropdown message-dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                  data-bs-toggle="dropdown" aria-expanded="false"><span class="badge">9</span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                  {% for i in range(1,6) %}
                                  <li><a class="dropdown-item"><img src="#" alt="">
                                          <div class="messenger-name">Messenger's Name</div>
                                          <div class="dot"><span></span></div>
                                          <div class="message-text">latest message - 1w</div>
  
                                      </a></li>
                                  {% endfor %}
                              </ul>
                          </div>
                          <div class="dropdown user-dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                  <img src="assets/img/users/user1-160x160.jpg" class="user-rounded" alt="...">
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                  <li><a class="dropdown-item" href="#"><img src="#" alt="">My
                                          Profile</a>
                                  </li>
                                  <li><a class="dropdown-item" href="#"><img src="#" alt="">My Resume</a>
                                  </li>
                                  <li><a class="dropdown-item" href="#"><img src="#" alt="">My
                                          Applications</a></li>
                              </ul>
                          </div>
  
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </nav> -->
</div>
<div class="w-50 h-100 d-flex">
  <div class="align-self-end mb-5 ps-4">
  {% if current_page == "company_overview" %} 
    <h5>Petroliam Nasional Berhad (Petronas)</h5>
    <p>Lorem ipsum dolor sit amet, consetessur adsipiscing elit. Prasesent tempor, ante sit amet malesuada tempus, ante arcu pulvinar purus, vel.</p>
    <button type="button" class="btn text-warning bg-dark btn-sm px-3 py-2">Preview My Company Profile <i class="bi bi-box-arrow-up-right"></i></button>
  {% endif %}
</div>
</div>
