{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
<div class="position-relative h-100">
  <a class="btn border-0 toggle-off btn-sidebar-off d-none" id="menu-btn"><i class="bi bi-list"></i></a>
  <div class="position-absolute top-0 start-50 translate-middle-x d-none d-lg-block">
    <a href="{{s.home_url()}}">
       <img src="{{ f.img('logo/boss_majestic.png') }}" height="30px" class="mt-3">
    </a>
  </div>
  <div class="position-absolute top-0 end-0 px-2 me-3">
      <div class="d-flex mt-2 fs-5 px-3">
        <div class="p-2 bd-highlight me-2">
          <a href="{{s.search_candidate_home_url()}}">
             <i class="bi bi-search"></i>
          </a>
        </div>
        <div class="p-2 bd-highlight me-2">
          <i class="bi bi-globe" class="dropdown-toggle" id="dropdownMenuLanguage" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu shadow mt-1" aria-labelledby="dropdownMenuLanguage">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Malay</a></li>
            <li><a class="dropdown-item" href="#">Chinese</a></li>
          </ul>
        </div>
        <div class="p-2 bd-highlight me-2">
            <i class="bi bi-bell"></i>
        </div>
        <div class="dropdown p-2 bd-highlight ms-2">
          <img src="{{f.mainImg('candidate_photo.png')}}" height="30px" class="dropdown-toggle mb-1" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu shadow mt-1" aria-labelledby="dropdownMenuUser">
            <div class="d-flex p-2">
              <div class="flex-shrink-0 align-self-center">
                <img src="{{f.mainImg('candidate_photo.png')}}" height="70px">
              </div>
              <div class="flex-grow-1 ms-3 align-self-center">
                <p class="fs-5 mb-0">Leah Chen</p>
                <p class="text-muted mb-2 small">leahchen@gmail.com</p>
                <p class="small">Hiring Manager</p>
              </div>
            </div>
            <hr>
            <li><a class="dropdown-item" href="#">My Company Settings</a></li>
            <li><a class="dropdown-item" href="#">My Settings</a></li>
            <li><a class="dropdown-item" href="#">Switch User</a></li>
            <hr>
            <li><a class="dropdown-item mt-0" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="position-absolute bottom-0 start-0 w-100">
    {% if current_page == "company_overview" %}
      <div class="mb-5 ps-4">
        <h4>Petroliam Nasional Berhad (Petronas)</h4>
        <p>Lorem ipsum dolor sit amet, consetessur adsipiscing elit. Prasesent tempor, ante sit amet malesuada tempus, ante arcu pulvinar purus, vel.</p>
        <button type="button" class="btn text-warning bg-dark btn-sm px-3 py-2">Preview My Company Profile <i class="bi bi-box-arrow-up-right"></i></button>
      </div>
    {% elseif current_page ==  "job-performance" %}
    <div class="d-flex justify-content-between p-4 mb-5">
        <h4 class="ms-1">My Job Performance</h4>
        <button class="btn btn-dark text-warning"><i class="bi bi-plus me-1"></i> Post a Job</button>
    </div>
    {% elseif current_page ==  "applicants" %}
    <div class="mb-5 p-4">
        <a href="#" class="link-dark"><u>Back</u></a>
        <h4 class="mb-3 mt-3">Applicants</h4>
        <button class="btn btn-dark text-warning mb-2">Preview Job <i class="bi bi-box-arrow-up-right ms-1"></i></button>
    </div>
    {% endif %}
  </div>
</div>
