{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% import 'macros/user.html' as u %}
<div class="side-navbar bg-white position-fixed active-nav d-flex justify-content-between flex-wrap flex-column shadow h-100" id="sidebar">

    <ul class="nav flex-column w-100">
        <a class="btn border-0 toggle-on btn-sidebar-on" id="menu-btn"><i class="bi bi-list float-end"></i></a>
        <a class="mb-4 text-center" href="{{ s.home_url() }}" width="125px">
            <img src="{{ f.img('logo/petronas.png') }}">
        </a>
        <li class="mb-1">
            <a class="btn text-start collapsed w-100 border-radius-none px-4 py-2 font-medium {{ f.if(active_menu == 'overview','fw-bold') }}"  href="{{s.overview_url()}}">
                Overview
            </a>
        </li>
        <li class="mb-1">
            <button class="btn text-start collapsed w-100 px-4 py-2 font-medium"
                data-bs-toggle="collapse" data-bs-target="#second-menu-collapse" aria-expanded="{{ f.if(active_menu in ['new-applicant', 'job-performance', 'search-candidate-result', 'my-user-profile'],'true', 'false') }}">
                Menu Item
            </button>
            <div class="collapse {{ f.if(active_menu in ['new-applicant', 'job-performance', 'search-candidate-result', 'my-user-profile'],'show') }}" id="second-menu-collapse">
                <ul class="list-unstyled fw-normal pb-1 font-medium">
                    <li class="mt-3 ms-4"><a href="{{s.applicants_url()}}" class="{{ f.if(active_menu == 'new-applicant','fw-bold') }} d-inline-flex align-items-center rounded">Applicants</a></li>
                    <li class="mt-3 ms-4"><a href="{{s.job_performance_url()}}" class="{{ f.if(active_menu == 'job-performance','fw-bold') }} d-inline-flex align-items-center rounded">Job Performance</a></li>
                    <li class="mt-3 ms-4"><a href="{{s.search_candidate_result_url()}}" class="{{ f.if(active_menu == 'search-candidate-result','fw-bold') }} d-inline-flex align-items-center rounded">Search Candidate</a></li>
                    <li class="mt-3 ms-4"><a href="{{s.my_user_profile_url()}}" class="{{ f.if(active_menu == 'my-user-profile','fw-bold') }} d-inline-flex align-items-center rounded">My User Profile</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn text-start collapsed w-100 px-4 py-2 font-medium"
                data-bs-toggle="collapse" data-bs-target="#third-menu-collapse" aria-expanded="false">
                Menu Item
            </button>
            <div class="collapse" id="third-menu-collapse">
                <ul class="list-unstyled fw-normal pb-1 font-medium">
                    <li class="mt-3 ms-4"><a href="#" class="d-inline-flex align-items-center rounded">Menu Item</a></li>
                    <li class="mt-3 ms-4"><a href="#" class="d-inline-flex align-items-center rounded">Menu Item</a></li>
                    <li class="mt-3 ms-4"><a href="#" class="d-inline-flex align-items-center rounded">Menu Item</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn text-start collapsed w-100 border-radius-none px-4 py-2 font-medium"
                data-bs-toggle="collapse" data-bs-target="#applicants-collapse" aria-expanded="false">
                Menu Item
            </button>
            <div class="collapse" id="applicants-collapse">
                <ul class="list-unstyled fw-normal pb-1 font-medium">
                    <li class="mt-3 ms-4"><a href="#" class="d-inline-flex align-items-center rounded">Menu Item</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column w-100  mb-3">
        <li class="px-4 py-2"><a href="#" class="d-inline-flex align-items-center rounded font-medium">Settings</a>
        </li>
        <li class="px-4 py-2">
            <a href="{{ u.change_password_url() }}" class="{{ f.if(active_menu == 'change-password','fw-bold') }} d-inline-flex align-items-center rounded font-medium">Change Password</a>
        </li>
        <li class="px-4 py-2"><a href="{{u.login_url()}}" class="d-inline-flex align-items-center rounded font-medium">Logout</a>
        </li>
    </ul>

</div>