{% extends "layouts/base.html" %}

{% block js %}{% endblock %}


{% block content %}
<div class="px-3">
    <div class="row mt-n5 px-3">
        <div class="bg-white shadow p-3">
            <div class="d-flex justify-content-between">
                <h4>Job Title Long Title</h4>
                <button class="btn btn-primary px-3 py-1 btn-sm"><i class="bi bi-pencil-fill me-1"></i> Edit Job</button>
            </div>
            <p class="card-text mt-n2"><small class="text-muted">Last updated 5 days ago</small></p>
            <div class="row mt-2">
                <div class="col-6">
                    <p class="card-text"><i class="bi bi-geo-alt-fill text-warning me-1"></i> Location/Branch</p>
                </div>
                <div class="col-6">
                    <p class="card-text"><i class="bi bi-clock-fill text-warning me-1"></i> Full Time</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <p class="card-text"><i class="bi bi-briefcase-fill text-warning me-1"></i> 2-3 Years experience</p>
                </div>
                <div class="col-6">
                    <p class="card-text"><i class="bi bi-building text-warning me-1"></i> Field/Industry</p>
                </div>
            </div>

            <div class="row mb-3 mt-2">
                <div class="col-6">
                    <p class="card-text"><i class="bi bi-cash text-warning me-1"></i> RM4,000-RM6,000</p>
                </div>
            </div>
        </div>
        {% include 'partials/_applicants-nav-tab.html' %}
    </div>
    <div class="row mt-2">
        {% block applicant %}

        {% endblock %}
    </div>
</div>
{% endblock %}